.item {
    color: black;
    border-bottom: 1px solid darkblue;
    font-size: 20px;
    padding: 15px 0;
}

.item:last-child {
    border-bottom: none;
}

.user__name {

}

.user__text {

}

.likes {}

.images img {
    max-width: 250px;
}