.loading {
    width: calc(48px / 4);
    height: calc(48px / 4);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 60px;
    color: #e4e4e4;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px,
        -14px 0 0 -2px, -38px 0 0 -2px
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px,
        -14px 0 0 -2px, -38px 0 0 2px
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px,
        -14px 0 0 2px, -38px 0 0 -2px
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px,
        -14px 0 0 -2px, -38px 0 0 -2px
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px,
        -14px 0 0 -2px, -38px 0 0 -2px
    }
}