.header {
	position: fixed;
	z-index: 10000;
	width: 100%;
	background-color: rgb(36, 35, 37);

	border-bottom: 1px solid #292929;

	padding: 1rem;
}

.header a {
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: #e4e4e4;
}