.app-wrapper {
	background-color: rgb(23, 23, 23);
	min-height: 100vh;
}

.container {
	padding-top: 5vh;
	margin: 0 auto;

	width: 70%;

	display: flex;
	justify-content: center;
	gap: .5rem;
}

.app-wrapper-content {
	height: 100%;
	margin-top: 1rem;
	background-color: rgb(23, 23, 23);
}

.block {
	background-color: rgb(36, 35, 37);
	border-radius: 10px;
	border: 1px solid #292929;
}