.app-wrapper {
	background-color: rgb(61, 75, 78);
	min-height: 100vh;
}

.container {
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar main"
		"sidebar main";
	max-width: 70%;
	margin: 0 auto;
	padding: 0 15px;
}